.masthead {
    height: 62vh;
    min-height: 500px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.83), rgba(255, 255, 255, 0.053)), url('/public/img/tech.webp');
    background-size: cover;
    background-position: center;
}

.margin-link{
    margin-left: 20px;
}

.color-nav{
    background-color: #dee2e6;
}

.color-btn:hover{
    background-color: white;
}

.sfondo-form{
    background-color: #dee2e69b;
}

.stile-card{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.color-link{
    color: #0d6dfdce;
    font-weight: bold;
}

.color-link:hover{
    color: rgba(0, 0, 0, 0.69);
    font-weight: bold;
}

.color-form{
    color: #0d6dfdce;
}




















@media only screen and (max-width: 768px) {
    .margin-link{
        margin-left: 0px;
    }
}


